<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocdev.android.piet.newsreaderv3.test">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <!--suppress AndroidDomInspection -->
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="com.rocdev.android.piet.newsreaderv2"
                     android:handleProfiling="false"
                     android:functionalTest="false"
                     android:label="Tests for com.rocdev.android.piet.newsreaderv2"/>
</manifest>
